<html lang="en" xmlns:th="http://www.thymleaf.org">

<head>
    <link rel="stylesheet" href="/login/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Sign in</title>
</head>

<body>
<div class="main">
    <p class="sign" align="center">فرم پاسخ</p>
    <form action="#"
          th:action="@{/assistant/update-request/{id}(id=${request.id})}"
          th:object="${request}"
          method="post" class="form1">


        <input type="text" class="un " th:field="*{answer}" id="answer" placeholder="answer">
        <span th:if="${#fields.hasErrors('answer')}"  th:errors="*{answer}"></span>

        <input type="hidden" class="un " th:field="*{description}" id="description" placeholder="description">
        <span th:if="${#fields.hasErrors('description')}"  th:errors="*{description}"></span>

        <input type="hidden" class="un " th:field="*{subject}" id="subject" placeholder="subject">
        <span th:if="${#fields.hasErrors('subject')}"  th:errors="*{subject}"></span>

        <input type="hidden" class="un " th:field="*{username}" id="username" placeholder="username">
        <span th:if="${#fields.hasErrors('username')}"  th:errors="*{username}"></span>

        <input class="submit" align="center" type="submit" > </input>

    </form>

</div>

</body>

</html>