<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/login/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>edit</title>
</head>

<body>
<div class="main">
    <p class="sign" align="center">ويرايش رمز</p>
    <span th:if="${error != null}" class="sign" align="center">رمز را با دقت وارد كنيد!</span>
    <form action="#"
          th:action="@{/user/update-password/{id}(id=${user.id})}"
          th:object="${user}"
          method="post" class="form1">

        <input type="hidden" class="un " th:field="*{username}" id="username" placeholder="Username">
        <span th:if="${#fields.hasErrors('username')}"  th:errors="*{username}"></span>

        <input type="password" class="un" th:field="*{password}" id="password" placeholder="Password">
        <span th:if="${#fields.hasErrors('password')}"  th:errors="*{password}"></span>

        <input type="password" class="un" th:field="*{retypePassword}" id="retypePassword" placeholder="retypePassword">
        <span th:if="${#fields.hasErrors('retypePassword')}"  th:errors="*{retypePassword}"></span>

        <input type="hidden" class="un " th:field="*{firstName}" id="firstName" placeholder="firstName">
        <span th:if="${#fields.hasErrors('firstName')}"  th:errors="*{firstName}"></span>

        <input type="hidden" class="un " th:field="*{lastName}" id="lastName" placeholder="lastName">
        <span th:if="${#fields.hasErrors('lastName')}"  th:errors="*{lastName}"></span>

        <input type="hidden" class="un " th:field="*{nationalCode}" id="nationalCode" placeholder="nationalCode">
        <span th:if="${#fields.hasErrors('nationalCode')}"  th:errors="*{nationalCode}"></span>

        <input type="hidden" class="un " th:field="*{phoneNum}" id="phoneNum" placeholder="phoneNumber">
        <span th:if="${#fields.hasErrors('phoneNum')}"  th:errors="*{phoneNum}"></span>

        <input type="hidden" class="un " th:field="*{email}" id="email" placeholder="email">
        <span th:if="${#fields.hasErrors('email')}"  th:errors="*{email}"></span>
        <input class="submit" align="center" type="submit" > </input>

    </form>

</div>

</body>

</html>

